<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>geeksforgeeks </h1>

    {% with word="word is this "%}
    <div>
        join <br>
        It is used to join a list with a string, like Python’s str.join(list) Example <br>
        {{ value | join:" // " }} <br>
        If value is the list [‘a’, ‘b’, ‘c’], the output will be the string “a // b // c”.
    </div>
    <div>
        <p>
            first <br>
            It is used to return the first item in a list. Example <br>
            {{ value | first }} <br>
            If value is the list [‘a’, ‘b’, ‘c’], the output will be ‘a’.
        </p>
        {{ word | first }}
    </div>

    <div>
        <p>
            filesizeformat <br>
            It is used to format the value like a ‘human-readable’ file size (i.e. ’13 KB’, ‘4.1 MB’, ‘102 bytes’, etc.). Example <br>
            {{ value | filesizeformat }} <br>
            If value is 123456789, the output would be 117.7 MB.
        </p>

    </div>


    <div>
        <p>
            escape <br>
It is used to escape a string’s HTML. Specifically, it makes these replacements: 
        </p>
        {{ "&" | escape }}
    </div>
    <div>
        <p>
            dictsort <br>
            It takes a list of dictionaries and returns that list sorted by the key given in the argument. Example <br>
            {{ worddictionary| dictsort:"name" }}
        </p>
    </div>
    <div>
        <p>
            default <br>
            It is used to give a default value to a variable. If variable evaluates to False, it will use the default argument given else the variable value itself. Example
            { { value | default:"nothing" } } <br>
            If value is “” (the empty string), the output will be nothing.
        </p>
        {{ value | default:"thsi is default" }}
    </div>
    <div>
        <p>
            date <br>
            It is used to format a date according to the given format. Example <br>
            {{ value | date:"D d M Y" }} <br>
            If value is a datetime object (e.g., the result of datetime.datetime.now()), the output will be the string ‘Thu 06 Feb 2020’.
        </p>
        {{  datetime.now|date:"D d M Y" }}
    </div>


    <div>
        <p>
            cut <br>
            It is used to remove all values of arg from the given string. Example <br>
            {{ value | cut:" " }} <br>
            If value is “String with spaces”, the output will be “Stringwithspaces”. 
        </p>
        {{ word | cut:" " }}
    </div>

    {% endwith %}



    <div>
        <p>
            cut
        It is used to remove all values of arg from the given string. Example
        {{ value | cut:" " }}
        If value is “String with spaces”, the output will be “Stringwithspaces”.
                </p>
                {% with value="string. with space" %}
                {{ value | cut:" " }}
                {% endwith %}
    </div>
    <div>
        <p>
            center
        It is used to center the value in a field of a given width. Example
        "{{ value | center:"15" }}"
        If value is “Jai”, the output will be ” Jai “.

                </p>
                {% with word="jai" %}
                {{ word | center:"15"}}
                {% endwith %}
    </div>
    <div>
        <p>
        capfirst 
        It is used to capitalize the first character of the value. If the first character is not a letter, this filter has no effect. Example
        <br>
        { { value | capfirst } } <br>
        If value is “jai”, the output will be “Jai”.
        </p>
        {% with word="this word" %}
        {{ word | capfirst }}
        {% endwith %}

    </div>
    <div>
        <p>add
            It is used to add an argument to the value. <br>
            { % with value=4 % } <br>
            { { value|add:2 } } <br>
            { % endwith % } <br>
            If value is 4, then the output will be 6. This filter is used to increment a variable in django Templates.
        </p>
            {% with number=4 %}
            {{ number|add:2 }} <br>
            {% endwith %}
    </div>
    
    <div>
        <p>
            addslashes <br>
            It is used to add slashes before quotes. Useful for escaping strings in CSV. Example<br>
            { { value | addslashes } }<br>
            If value is “I’m Jai”, the output will be “I\’m Jai”.<br>
        </p>
        
        {% with word="I\m Jai" %}
        {{ word | addslashes }}
        {% endwith %}
    </div>
</body>
</html>